.form-flat {
  width: 500px;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.086);
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 3px -10px 15px -12px rgba(0,0,0,0.78);
  box-shadow: 3px -10px 15px -12px rgba(0,0,0,0.78);
}

.form-label {
  margin-top: 15px;
}
